<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KEIJIBAN</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
    {{ .navbar }}

    <div class="container">
      
        <form role="form" action="/topic/create" method="post">
          <input type="hidden" name="state" value="{{ .state }}">
          
          <div class="container pt-4">
            <header class="py-3 my-3">
              <p class="fs-3">
                Let's start new!!  
              </p>
            </header>
          </div>
      
          <div class="form-group">
            <textarea class="form-control" name="topic" id="topic" placeholder="New topic here" rows="4"></textarea>
            <br/>
            <button class="btn btn-lg btn-primary pull-right" type="submit">Start this topic!!</button>
          </div>
        </form>
      
    </div> <!-- /container -->
    
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
